.vscode

singolo1.html
singolo1.css

singolo1.scss
singolo1.css.map


singolo2.html
singolo2.css

singolo2.scss
singolo2.css.map

singolo3.html
singolo3.css

singolo3.scss
singolo3.css.map

style.scss
style.css.map
