html {
  font-size: 10px;
}

body {
  margin: 0;
  font-family: 'Lato Regular', sans-serif;
  font-size: 1.6rem;
  background-color: #fefefe;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 1020px;
  margin: 0 auto;
  padding: 0 40px;
}

.header {
  padding: 32px 0 32px;
  background-color: #2d303a;
  border-bottom: 6px solid #323746;
}

.header .header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .header__inner .header__logo {
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.55px;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
}

.header .header__inner .header__logo span {
  color: #f06c64;
}

.header .header__inner .header__menu--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: -0.01px;
  list-style-type: none;
  text-transform: uppercase;
}

.header .header__inner .header__menu--list .header__menu--item {
  position: relative;
  margin-right: 29px;
  margin-top: 10px;
}

.header .header__inner .header__menu--list .header__menu--item:last-child {
  margin-right: 0;
}

.header .header__inner .header__menu--list .header__menu--item:not(:last-child):after {
  content: '';
  position: absolute;
  top: 50%;
  right: -16px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 3px;
  height: 3px;
  background-color: #434759;
  border-radius: 50%;
}

.header .header__inner .header__menu--list .header__menu--item a {
  text-decoration: none;
  color: #ffffff;
  -webkit-transition: color 0.5s linear;
  transition: color 0.5s linear;
}

.header .header__inner .header__menu--list .header__menu--item a:hover {
  color: #f06c64;
  text-decoration: underline;
}

.header .header__inner .header__menu--list .header__menu--active a {
  color: #f06c64;
}

.slider {
  height: 600px;
  background-color: #f06c64;
  border-bottom: 6px solid #ea676b;
}

.slider .slider__inner {
  position: relative;
  height: 590px;
  /*   padding: 0 40px; */
}

.slider .slider__inner .slider__prev {
  content: '';
  position: absolute;
  top: 279px;
  left: 0;
  width: 20px;
  height: 30px;
  background-image: url("assets/img/prev.png");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  cursor: pointer;
}

.slider .slider__inner .slider__prev:hover {
  -webkit-transform: translateX(-5px) scale(1.2);
          transform: translateX(-5px) scale(1.2);
  -webkit-transform-origin: center center;
          transform-origin: center center;
}

.slider .slider__inner .slider__next {
  content: '';
  position: absolute;
  top: 279px;
  right: -2px;
  width: 20px;
  height: 30px;
  background-image: url("assets/img/next.png");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  cursor: pointer;
}

.slider .slider__inner .slider__next:hover {
  -webkit-transform: translateX(5px) scale(1.2);
          transform: translateX(5px) scale(1.2);
  -webkit-transform-origin: center center;
          transform-origin: center center;
}

.services {
  height: 500px;
  background-color: #f2f2f2;
  border-bottom: 6px solid #ffffff;
}

.services .services__inner {
  padding: 65px 38px 70px 40px;
}
/*# sourceMappingURL=singolo1.css.map */